/* style.css */

html, body {
    height: 100%;
    min-height: 100vh;
    background-color: #222;
    color: white;
    font-family: "Funnel Sans", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* smooth scrolling for nav links */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #222;
    border-bottom: 1px solid #444;
    z-index: 1000;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 50px;
    font-size: 1.4rem;          
    color: white;
    cursor: default;
}

.nav-links {
    padding-right: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.nav-links a {
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0097b2;
}

.main {
    padding-top: 100px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-text h1 {
    margin: auto;
    font-family: "Roboto Mono", monospace;
    word-spacing: -1.2rem;
    line-height: 1;
    font-size: 4.5rem;
}

.second {
    color: #0097b2;
    padding-bottom: 40px;
}

.hero-subtext p {
    margin: auto;
    font-size: 1.1rem;
    color: #aaa;
    max-width: 700px;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

.getting-started, .learn-more {
    padding: 8px 20px;
    color: #ddd;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.getting-started {
    background-color: #004450;
    border: 1px solid #006172;
}

.getting-started:hover {
    background-color: #005564;
    border: 1px solid #00869e;
}

.learn-more {
    background-color: #222;
    border: 1px solid #333;
}

.learn-more:hover {
    border: 1px solid #414040;
}

.info-note {
    text-align: center;
    margin: 35px auto 10px auto;
    max-width: 800px;
    background: #252525;
    color: #ccc;
    font-size: 14px;
    padding: 14px 20px;
    border-radius: 8px;
    border: 1px solid #333;
    line-height: 1.6;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.info-note strong {
    color: #0097b2;
}

.about, .contact {
    padding: 60px 20px;
    text-align: center;
}

.about h2, .contact h2 {
    color: white;
    margin-bottom: 20px;
}

.about, .contact, .footer p{
    color: #aaa;
}

.footer {
    background: #222;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #444;
}
